* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} 

.bg-image {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%; 
  width: 100%; 
  background-image: url("https://images.unsplash.com/photo-1704739300067-0cfbf8eb8bd3?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
  z-index: -1;
}

.container {
  width: 560px;
  height: 660px;
  background: linear-gradient(45deg, #E6B5A3E6, #F2CCBBE6);
  margin: 20px auto;
  padding: 5px;
  border-radius: 0.5rem;
  z-index: 2;
}

#survey-form {
  width: 95%;
  margin: 10px auto;
  padding: 1rem;;
}

#title {
  margin-top: 50px;
}

#title, #description{
  text-align: center;
  color: white;
}

#survey-form > h3:first-child {
  margin-top: 0;
}

#survey-form h3 {
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  margin: 15px 0 5px 0;
}

.optional {
  display: inline-block;
  color: white;
  font-weight: 400;
  margin: 0 0 0 4px;
}

#name, #email, #number {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 0.5rem;
  border-style: none; 
  border: 1px solid lightpink;
}

#number-label > input::-webkit-outer-spin-button, #number-label > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#number-label > input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#dropdown-label {
  color: white;
}

#dropdown {
  width: 100%;
  height: 30px;
  border-radius: 0.3rem;
  border-style: none;
  margin: 5px 0 0 0;
  background-color: white;
  padding: 5px;
  transition: height 0.5s ease;
  cursor: pointer;
}

#ease {
  width: 100%;
}

.radio-form input {
  min-height: 1rem;
  min-width: 1rem;
  margin: 5px;
  cursor: pointer;
}

.radio-form p {
  font-size: 1.05rem;
  display: inline-block;
  max-width: 125px;
  color: white;
  font-weight: 500;
  margin: 0 68.8px 0 0;
}

#last-radio-p {
  margin-right: 0;
}

#very-easy, #somewhat-easy, #not-easy {
  color: white;
}

#usage {
  display: block;
  width: 100%;
  height: 30px;
}

.checkbox-form input {
  min-height: 1rem;
  min-width: 1rem;
  cursor: pointer;
}

.checkbox-form span {
  font-size: 1.05rem;
  margin: 0 13px 0 5.4px;
  color: white;
  font-weight: 500;
}

#last-checkbox-span {
  margin-right: 0;
}

textarea {
  border: 1px solid white;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 2em;
  padding: 5px;
}

#submit {
  width: 95%;
  padding: 10px;
  margin: 20px 2.5% 0 2.5%;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 0.5em;
  border: 1px solid pink;
  background-color: antiquewhite;
  cursor: pointer;
}

footer {
  background: linear-gradient(45deg, #E6B5A3E6, #F2CCBBE6);
  width: 280px;
  font-size: 0.95rem;
  text-align: center;
  margin: 0 auto 20px auto;
  padding: 5px;
  color: white;
  border-radius: 0.5rem;
  z-index: 2;
}

footer > p > a {
  color: #7D89A0;
  text-decoration: none;
}

footer > p > a:visited {
  color: #7D89A0;
}

footer > p > a:hover {
  color: #A79494;
}

footer > p > a:active {
  color: #A79494;
}

/* Made By Tyxiel - github.com/Tyxiel */